html {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(225, 100%, 94%);
    background-image: url(./order-summary-component-main/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}


.inner_container {
    position: relative;
    background-color: white;
    top: 100px;
    margin: 0 auto;
    width: 50vh;
    border-radius: 1.0em;
}


.image_header {
    border-top-left-radius: 1.0em;
    border-top-right-radius: 1.0em;
}

.introduction {
    text-align: center;
    font-size: 1.0em;
    padding: 0 1.0em;
}

.order_header {
    text-decoration: solid;
}

.order_border {
    display: flex;
    padding: 0 5em;
}

.plan_box {
    display: flex;
    padding: 0 0.5em;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F9FE;
    border: none;
    height: 10vh;
    width: 80%;
    text-decoration: none;
    margin: 1.5em;
    border-radius: 0.5em;
}

.music_icon {
    margin-left: 5px;
}

.annual_plan {
    width: 100px;
    margin: 0;
    margin-left: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

span {
    display: block;      
    font-size: 12px;
    font-weight: 400;
    color: grey;
    margin-top: 3px;
    font-family: sans-serif;

}

.link /* unvisited link */ {
   text-decoration-color: blue;
   cursor: pointer;
   /* font-family: 'Courier New', Courier, monospace; */
   font-size: 14px;
   color: blue;
}

  /* visited link */
.link:visited {
    color: rgb(105, 33, 78);
    text-decoration: none;
  }
  
  /* mouse over link */
.link:hover {
    color: blue;
    text-decoration: underline;
  }
  
  /* selected link */
.link:active {
    color: green;
    text-decoration: underline;
  }

.payment {
    display: flex;
    justify-content: center;
}
button {
    display: flex;
    background-color: #26289c;
    border: none;
    color: white;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5em;   
}

.cancel {
    border: none;
    padding: 0.5em;
    text-align:center;
    cursor: pointer;
    text-decoration: none;
    border-bottom-left-radius: 1.0em;
    border-bottom-right-radius: 1.0em;

}