@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&family=Roboto:ital@1&display=swap');

html {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(225, 100%, 94%);
    background-image: url(./order-summary-component-main/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}


.inner_container {
    position: relative;
    background-color: white;
    top: 100px;
    margin: 0 auto;
    width: 50vh;
    border-radius: 1.0em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(156, 156, 156);
}


.image_header {
    border-top-left-radius: 1.0em;
    border-top-right-radius: 1.0em;
}

.introduction {
    text-align: center;
    font-size: 1.0em;
    padding: 0 1.0em;
}

.order_header {
    text-align: center;
    text-decoration: solid;
    color: #21252a;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
}

.order_body {
    /* display: flex; */
    margin-top: -2%;
    /* text-align: center; */
    width: 90%;
    text-align: center;
    font-size: 13px;
    padding-left: 1.0em;
    padding-right: 2.5em;
    color: #767E92;
    line-height: 1.6;
    font-weight: 530;
    font-family: sans-serif;
}

.plan_box {
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F9FE;
    border: none;
    height: 10vh;
    width: 80%;
    text-decoration: none;
    margin: 0 1.5em 1.5em 1.5em;
    border-radius: 0.5em;
}

.music_icon {
    margin-left: 5px;
}

.annual_plan {
    width: 100px;
    margin: 0;
    margin-left: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #21252a;
}

span {
    display: block;      
    font-size: 12px;
    font-weight: 400;
    color: grey;
    margin-top: 3px;
    font-family: sans-serif;
}

.link /* unvisited link */ {
   text-decoration-color: blue;
   cursor: pointer; 
   font-size: 12px;
   color: blue;
   font-family: sans-serif;
}

  /* visited link */
.link:visited {
    color: rgb(105, 33, 78);
    text-decoration: none;
  }
  
  /* mouse over link */
.link:hover {
    color: blue;
    text-decoration: underline;
  }
  
  /* selected link */
.link:active {
    color: green;
    text-decoration: underline;
  }

.payment {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    /* margin-left: 10%; */
    /* width: 80%; */
}
button {
    width: 82%;
    border: none; 
    background-color: #382AE1;
    color: white;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0.5em;    
    box-shadow: 5px 13px 14px rgba(163, 163, 163, 0.52);
    font-family: 'Red Hat Display', sans-serif;  
}

.button:active .button:hover {
    background-color: #766CF1;
}

.cancel_order {
    margin-top: 1.0em;
    margin-bottom: 2.0em;
    color: #767E92;
    padding: 0.5em;
    text-align:center;
    font-size: 13px;
    font-weight: 550;
    cursor: pointer;
    font-family: sans-serif;
}

.cancel_order:active .cancel_order:hover {
    color: rgb(31, 28, 28);
}